<!-- ======= Hero Section ======= -->
<section id="hero" class="d-flex align-items-center">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 d-flex flex-column justify-content-center pt-4 pt-lg-0 order-2 order-lg-1" data-aos="fade-up"
        data-aos-delay="200">
        <h1><span><strong>The Future</strong></span><br>World</h1>
        <p>Blockchain bootcamp, hackathons, <br> incubation,
          investing and masterclass programs.
        </p>
        <div class="d-flex justify-content-center justify-content-lg-start">
          <a href="#vision" class="btn-get-started scrollto"><button class="gradient-border">Learn More</button></a>

        </div>
      </div>
      <div class="col-lg-6 order-1 order-lg-2 hero-img" data-aos="zoom-in" data-aos-delay="200">
        <img src="assets/img/dreamslab.png" class="img-fluid animated" alt="dreamsLAB">
      </div>
    </div>
</section><!-- End Hero -->



<!-- <section id="hero" class="d-flex align-items-center justify-content-center">
  <div class="container" data-aos="fade-right">
    <div class="row justify-content-start" data-aos="fade-up" data-aos-delay="150">
      <div class="col-xl-6 col-lg-8 intro">
        <h1><span>The Future</span><br>World</h1>
        <p>Blockchain bootcamp, hackathons, <br> incubation,
          investing and masterclass programs.
        </p>
        <a href="#about"><button class="gradient-border">Learn More</button></a>
      </div>
      <div class="col-md-6 col-lg-6 offset-lg-0 img"><img src="assets/img/dreamer.png" style="width: 500px;"
          data-aos="fade-left" data-aos-delay="150" /></div>
    </div>
  </div>
</section> -->
<!-- animation -->
<!-- <div class="area" >
        <ul class="circles">
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
        </ul>
</div > -->