<!-- ======= Vision Section ======= -->
<section id="vision" class="vision">
    <div class="container" data-aos="fade-up">
        <div class="row">
            <div class="col-lg-6 d-flex align-items-center vision-img" data-aos="fade-right" data-aos-delay="100">

                <!-- Animiation 1 -->
                <div class="bg"></div>

                <img src="assets/img/dreamer.png" class="img-fluid animated" alt="">
            </div>
            <div class="col-lg-6 pt-4 pt-lg-0 content" data-aos="fade-left" data-aos-delay="100">
                <h3 class="underline" data-aos="fade-left"><strong>Endless Dreams</strong></h3>
                <p data-aos="fade-left" data-aos-delay="1000"><br>
                    <strong>dreamsLAB</strong> is a community where like minded people come together
                    to explore new technologies and revolutions to create a future world.

                    The community is fostered by a passionate group of educators who are committed to share and
                    support
                    newcomers getting up to speed on blockchain and its potential for jobs and growth.
                </p>

                <!-- Animation 2 -->
                <!--<div class="background">
                    <div class="rotate">
                        <div class="sphere">
                            <span></span>
                            <span></span>
                            <span></span>
                            <span></span>
                            <span></span>
                            <span></span>
                        </div>
                        <div class="sphere">
                            <span></span>
                            <span></span>
                            <span></span>
                            <span></span>
                            <span></span>
                            <span></span>
                        </div>
                        <div class="sphere">
                            <span></span>
                            <span></span>
                            <span></span>
                            <span></span>
                            <span></span>
                            <span></span>
                        </div>
                        <div class="sphere">
                            <span></span>
                            <span></span>
                            <span></span>
                            <span></span>
                            <span></span>
                            <span></span>
                        </div>
                    </div>
                </div> -->

            </div>
        </div>
</section>

<!-- ======= Both are the same but this one css isn't smooth as the upper one ======= -->
<!-- 
<section id="about" class="about">
    <div class="container" data-aos="fade-up">
        <div class="row">
            <div class="col-lg-6 order-1 order-lg-2" data-aos="fade-left" data-aos-delay="100">
                <img src="assets/img/dreamslab.png" class="img-fluid" alt="">
            </div>
            <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1" data-aos="fade-right" data-aos-delay="100">
                <div class="content-vision">
                    <h3><strong>Endless Dreams</strong></h3>
                    <p>
                        dreamsLAB is a community where like minded people come together
                        to explore new technologies and revolutions to create a future world.

                        The community is fostered by a passionate group of educators who are committed to share and
                        support
                        newcomers getting up to speed on blockchain and its potential for jobs and growth.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section> -->