<section id="about" class="about">
    <div class="container" data-aos="fade-up">

        <div class="row align-items-center justify-content-center">
            <div class="col-lg-6 order-1 order-lg-2 " data-aos="fade-left" data-aos-delay="100">
                <img src="assets/img/logo/dreamers.png" class="img-fluid" alt="">
            </div>
            <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 content justify-content-end" data-aos="fade-right" data-aos-delay="100">
                <h3>Endless Dreams</h3>
                <p>
                    dreamsLAB is a community where liked minded people come together
                    to explore new technologies revolution to creates a future world. <br><br>

                    The community is fostered by a passionate group of educators who are committed to share and support
                    newcomers getting up to speed on blockchain and its potential for jobs and growth.
                </p>
                
            </div>
        </div>

    </div>
</section>


<!-- ======= Clients Section ======= -->
<section id="clients" class="clients">
    <div class="container" data-aos="zoom-in">

        <div class="clients-slider swiper">
            <div class="swiper-wrapper align-items-center">
                <div class="swiper-slide"><img src="assets/img/clients/client-1.png" class="img-fluid" alt=""></div>
                <div class="swiper-slide"><img src="assets/img/clients/client-2.png" class="img-fluid" alt=""></div>
                <div class="swiper-slide"><img src="assets/img/clients/client-3.png" class="img-fluid" alt=""></div>
                <div class="swiper-slide"><img src="assets/img/clients/client-4.png" class="img-fluid" alt=""></div>
                <div class="swiper-slide"><img src="assets/img/clients/client-5.png" class="img-fluid" alt=""></div>
                <div class="swiper-slide"><img src="assets/img/clients/client-6.png" class="img-fluid" alt=""></div>
                <div class="swiper-slide"><img src="assets/img/clients/client-7.png" class="img-fluid" alt=""></div>
                <div class="swiper-slide"><img src="assets/img/clients/client-8.png" class="img-fluid" alt=""></div>
            </div>
            <div class="swiper-pagination"></div>
        </div>

    </div>
</section>
<!-- End Clients Section -->